.text-secondary {
  color: #868e96!important;
}

.text-warning {
  color: #f0ad4e!important;
}

.table-striped tr:nth-child(even) {
  background-color: #ECEEEF!important;
}

.table-striped td {
  padding: 5px;
}

.background-warning {
   background-color:	#FAFAD2;
}

.background-danger {
   background-color:	#F08080;
}

.background-success {
   background-color: #90EE90;
}
